version: '3'
services:
  app:
    build: .
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      NODE_ENV: docker # This will trigger the Docker connection string
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
